<div  id='api_settings'>
&nbsp;
<form action="?" method="get" enctype="multipart/form-data" name="save_settings" class="form-horizontal">
<fieldset>
<div class="form-actions">
<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
<input type="hidden" name="view_mode" value="update_settings">
<input type="hidden" name="mode" value="update"><br>

<h3>Настройки для лампы MiLight</h3><br><br>

<div class="form-group">
	<label class="col-md-3">IP адрес<br>MILIGHT WiFI BOX*:</label>
	<div class="col-md-3">
	<input type="text" name="host" class="form-control" placeholder="192.168.1.100" value="[#host#]" ></div><br><br><br>
	
	<label class="col-md-3">Время обновления:</label>
	<div class="col-md-3">
	<input type="text" name="updatedTime" class="form-control" value="[#updatedTime#]"></div><br><br><br>
	
	<label class="col-md-3">Уровень яркости:</label>
	<div class="col-md-3">
	<input type="text" name="level" class="form-control" value="[#level#]"></div><br><br><br>
	
	<label class="col-md-3">Тип лампы<br>(0-белая,1-цветная):</label>
	<div class="col-md-3">
	<input type="text" name="lamptype" class="form-control" value="[#lamptype#]"></div><br><br><br>
	
	<label class="col-md-3">Режим работы<br>(C-Color,W-White):</label>
	<div class="col-md-3">
	<input type="text" name="mode" class="form-control" placeholder="C\W" value="[#mode#]"></div><br><br><br>
	
	<label class="col-md-3">Зона (1-4):</label>
	<div class="col-md-3">
	<input type="text" name="zone" class="form-control" placeholder="1-4" value="[#zone#]"></div><br><br><br>
	
    <button type="submit" name="subm" value="settings" class="btn btn-primary">Сохранить</button></div>
	</div><br>
	</fieldset>
</form><br>
* - обязательные поля<br>
<br>
<a href="http://majordomo.smartliving.ru/forum/viewtopic.php?f=5&t=3639&p=44417#p44417" target="_blank">Обсуждение модуля на форуме</a>.<br>
</div>
